<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
        <title>LED Controller</title>
        <meta name="viewport" content="width=400px" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
  </head>
  <body ng-app="beerApp" ng-controller="beerController">
        <input type="button" value="START" ng-click="start()" />
		
		<input type="text" ng-model="command" />
		<input type="button" value="SEND" ng-click="send()" />
		  
		<p style="font-size: 20px">{{temp1}}</p>
		<p style="font-size: 20px">{{temp2}}</p>
		<p style="font-size: 20px">{{heat}}</p>
		<p style="font-size: 20px">{{time}}</p>
		<p style="font-size: 20px">{{action}}</p>
       
        <script type="text/javascript">
			angular.module('beerApp', [])
				.controller('beerController', function($log, $scope) {
				    $scope.socket = io.connect();
					$scope.run = false;
					
					$scope.socket.on('message', function (data) {
						//console.log(data);
						if(data.type == "TEMP1")
							$scope.temp1 = data.value;
						else if(data.type == "TEMP2")
							$scope.temp2 = data.value;
						else if(data.type == "HEAT")
							$scope.heat = data.value;	
						else if(data.type == "TIME")
							$scope.time = data.value;
						else if(data.type == "ACTION")
							$scope.action = data.value;
						else if(data.type == "END")
							$scope.end = data.value;
						$scope.$apply();
					});
					
					$scope.socket.on('state', function (data) {
						if(data.value)
							$scope.run = true;
						else
							$scope.run = false;
					});
					
					$scope.start = function() {
						if($scope.run == 0) 
							$scope.run = true; 
						else 
							$scope.run = false;
						$scope.socket.emit('start', { value: $scope.run });
					}
					
					$scope.send = function() {
						$scope.socket.emit('send', { value: $scope.command });
					}
				});
        </script>
  </body>
</html>